
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.dragging {
  background-color: green;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.splash-container {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.go-button {
  background-color: #097e8d;
  color: white;
  border: none;
  padding: 20px 20px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 2s ease-in;
  animation: fadeIn 3s ease forwards;
}


.go-button:hover {
  background-color: #1f4e77;
}
